{%  extends 'base.html.twig' %}
   {% block stylesheets %}{% endblock %}

{% block title %}
    Bienvenue dans le meilleur reseau d'appartement
{% endblock %}

{% block body %}
    <div class="class container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymBNB</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les proprietaires qui veulent profiter d'opportunites
         et gagner de l'argent en proposant leur bien a la location !</p>
        <hr class="my-4">
        <p>Vous etes vpyageurs ? Et vous voulez voir ou vous pourrez loger pour votre prochain deplacement ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>
        <h2>Nos appartements stars</h2>

        <div class ='row mt-5'>
            <div class="col-md-4">
                  <div class="class card bg-light mb-3">
                      <div class="class card-header text-center">
                          <p>3 chambres, <strong>49&euro; / nuit</strong><br>
                              <small>Pas encore note</small>
                      </div>
                          <img src="http://placehold.it/1000X400" alt="Image de l'appartement"
                          style="height: 200px; witdh: 100%; display:block" >
                      <div class="class card-body">
                          <h4 class="class card-title">
                            <p>Appartement de fou</p>
                          </h4>
                          <p class="class card-text">
                              <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita ipsam officia quod saepe. A atque dignissimos dolor eaque eveniet illo in iusto mollitia, quos, sit tempora tenetur? Ad, illum!</span>
                          </p>
                          <a href="#" class="btn btn-primary">En savoir plus</a>


                      </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="class card bg-light mb-3">
                    <div class="class card-header text-center">
                        <p>3 chambres, <strong>49&euro; / nuit</strong><br>
                            <small>Pas encore note</small>
                    </div>
                    <img src="http://placehold.it/1000X400" alt="Image de l'appartement"
                         style="height: 200px; witdh: 100%; display:block" >
                    <div class="class card-body">
                        <h4 class="class card-title">
                            <p>Appartement de fou</p>
                        </h4>
                        <p class="class card-text">
                            <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita ipsam officia quod saepe. A atque dignissimos dolor eaque eveniet illo in iusto mollitia, quos, sit tempora tenetur? Ad, illum!</span>
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="class card bg-light mb-3">
                    <div class="class card-header text-center">
                        <p>3 chambres, <strong>49&euro; / nuit</strong><br>
                            <small>Pas encore note</small>
                    </div>
                    <img src="http://placehold.it/1000X400" alt="Image de l'appartement"
                         style="height: 200px; witdh: 100%; display:block" >
                    <div class="class card-body">
                        <h4 class="class card-title">
                            <p>Appartement de fou</p>
                        </h4>
                        <p class="class card-text">
                            <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita ipsam officia quod saepe. A atque dignissimos dolor eaque eveniet illo in iusto mollitia, quos, sit tempora tenetur? Ad, illum!</span>
                        </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>


                    </div>
                </div>
            </div>


        </div>

        <h2>Nos propietaire star</h2>

        <div class="class row">
            <div class="class col">
                <div class="card border-secondary mb-3">
                    <div class="class card-body">
                        <h4 class="class card-title">Vivien JOLY</h4>
                        
                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64X64" alt="Avatar de Vivien JOLY" class="float-left mr-3">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam delectus, dignissimos distinctio impedit in itaque molestiae nemo neque nostrum, perferendis porro quam quis quos sunt totam veritatis! Excepturi, facere!</p>
                        </div>
                        <a href='#' class="btn btn-primary ">En savoir plus</a>
                    </div>
                </div>
            <div class="class col">
                <div class="card border-secondary mb-3">
                    <div class="class card-body">
                        <h4 class="class card-title">Vivien JOLY</h4>

                        <hr>

                        <div class="card-text">
                            <img src="http://placehold.it/64X64" alt="Avatar de Vivien JOLY" class="float-left mr-3">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam delectus, dignissimos distinctio impedit in itaque molestiae nemo neque nostrum, perferendis porro quam quis quos sunt totam veritatis! Excepturi, facere!</p>
                    </div>
                    <a href='#' class="btn btn-primary ">En savoir plus</a>
                </div>
            </div>





            </div>


        </div>


    </div>





{% endblock %}